@import "./common";

.#{$id} {
  &-2,
  &-3 {
    div#container1881153814 {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  div.trustradius-component {
    margin-bottom: 50px;

    > div.container {
      margin-top: 50px;
    }
  }

  div.trustradius-reviews {
    height: 450px;
  }
}
