@import "./common";

.#{$id} {
  .hide {
    display: none !important;
  }

  &-2,
  &-3 {
    div#container1881153814 {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  div.trustradius-component {
    margin-bottom: 50px;

    > div.container {
      margin-top: 50px;
    }
  }

  div.trustradius-reviews {
    height: 450px;
  }

  div.root.responsivegrid
    > div
    > div.responsivegrid.aem-GridColumn.aem-GridColumn--default--12
    > div
    > div:nth-child(4)
    > div {
    padding-bottom: 0 !important;
  }

  div.root.responsivegrid
    > div
    > div.responsivegrid.aem-GridColumn.aem-GridColumn--default--12
    > div
    > div:nth-child(3)
    > div {
    padding-top: 10px !important;
  }

  div#platter-217702254 > div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
