@import './common';

.#{$id}{
    &__hide {
        display: none !important;
    }

    div.banner-content.info-banner .tab-content{
        >img{
            width: 80%;
        }
    }

    header#ebook_header_1{
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        div.nx-site-header-inner{
            padding: 50px 0 50px 0 !important;
            display: flex !important;
        }
    }

    form#mktoForm_10929{
        width: 100% !important;
    }

    .#{$id}__banner-text-container{
        >p{
            margin-bottom: 0;
            font-size: 22px;
            line-height: 30px;
        }
    }

    &-1{

        .#{$id}__hero-banner{
            >p{
                margin: 0 0 10px 0;
                font-size: 1.80rem;
                line-height: 2.50rem;
                letter-spacing: 0.2rem;
            }
            >p:last-child{
                margin: 0;
            }
        }

        .ebook-download-form {
            width: fit-content;
            margin: 50px auto 50px auto; 
        }

        @media only screen and (max-width: 885px) {
            .slim-header .banner-content .hide-sm .tab-content {
                min-width: 100%;
            }

            .slim-header .banner-content .hide-sm {
                justify-content: space-between;
                flex-direction: column;
            }
        }

        @media only screen and (min-width: 1023px) {
            .slim-header .banner-content .hide-sm {
                flex-direction: row;
            }
        }

        p.form-legend{
            font-size: 1.2rem;
            font-family: inherit;
            line-height: 2.25rem;
            color: #343434;
            margin: 0;
            padding: 0;
        }

        @media only screen and (min-width: 786px) {

            div#ebook_body_section_1{
                display: unset;
    
                div.inner-content > ul{
                    display: grid;
                    grid-template-columns: auto auto;
    
                    >li{
                        display: flex;
                        align-items: center;
    
                        div.content-icon{
                            margin: 0 25px 0 0;
                        }
                    }
                }
            }   
        }

        @media only screen and (max-width: 767px) {
            div.hide-md{
                display: none !important;
            }
            div.hide-sm{
                display: block !important;
            }
            .slim-header .banner-content .hide-sm .tab-content {
                width: unset !important;
                padding: unset !important;
            }
        }
    }

    @media only screen and (max-width: 1199px) {
        .slim-header .banner-content .hide-sm .tab-content {
            width: 0;
            padding: 0 2rem 0 0;
        }
    }
    @media only screen and (min-width: 1200px) {
        .slim-header .banner-content .hide-sm .tab-content {
            width: 100%;
        }
    }

    div.mktoHtmlText{
        max-width: 357px !important;
    }
}