@import "./common";

.#{$id} {
  div.modal-backdrop {
    z-index: 1049 !important;
  }

  div.modal-content {
    background-color: transparent;

    > div.row {
      background-color: #fff;
    }
  }

  div.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    > a {
      text-transform: uppercase;
      font-weight: 700;
      width: 100%;
      text-align: center;
      background-color: #387aa8;
      color: #fff;

      @media screen and (max-width: 575px) {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }
}
