@import "./common";

.#{$id} {
  div.social-share {
    display: none;
  }

  div.test-box-shadow {
    box-shadow: 0 3px 5px -5px #111;
  }

  div.post-title {
    padding: 0;

    > h1 {
      padding: 40px 30px 0 30px;
    }
  }

  div.social-contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1;

    div.social-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div.text {
        > p {
          font-size: 1.35rem;
          line-height: 1.6;
          font-weight: 600;
        }
      }

      > a {
        margin-left: 10px;
        text-decoration: none;
        border-bottom: none !important;

        > i:hover {
          color: #d81920;
        }
      }
    }

    div.contact-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div.contact-link {
        padding: 5px 20px;
        border-radius: 10px;

        > a {
          text-decoration: none;
          border-bottom: none !important;
          font-size: 1.15rem;
          font-weight: bold;
        }
      }

      div.request-link {
        margin-left: 15px;
        padding: 5px 20px;
        border-radius: 10px;

        > a {
          text-decoration: none;
          border-bottom: none !important;
          font-size: 1.15rem;
          font-weight: bold;
        }
      }

      @media only screen and (max-width: 600px) {
        margin-top: 10px;
      }
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &-1 {
    div.post-title {
      border-bottom: none;
      padding-bottom: 30px;
    }

    div.social-contact-container {
      background-color: #fff;
      border-top: 4px solid #d81920;

      div.social-container {
        div.text {
          > p {
            color: #00319b;
          }
        }

        > a {
          color: #00319b;
        }
      }

      div.contact-container {
        div.contact-link {
          background-color: #00319b;
          border: 1px solid #00319b;

          > a {
            color: #fff;
          }

          &:hover {
            background-color: #fff;
            border: 1px solid #00319b;

            > a {
              color: #00319b;
            }
          }
        }

        div.request-link {
          background-color: #d81920;
          border: 1px solid #d81920;

          > a {
            color: #fff;
          }

          &:hover {
            background-color: #fff;
            border: 1px solid #d81920;

            > a {
              color: #d81920;
            }
          }
        }
      }
    }
  }

  &-2 {
    div.post-title {
      border-bottom: none;
    }

    div.social-contact-container {
      background-color: #00319b;
      border-bottom: 4px solid #d81920;

      div.social-container {
        div.text {
          > p {
            color: #fff;
          }
        }

        > a {
          color: #fff;
        }
      }

      div.contact-container {
        div.contact-link {
          border: 1px solid #fff;

          > a {
            color: #fff;
          }

          &:hover {
            background-color: #fff;
            border: 1px solid #00319b;

            > a {
              color: #00319b;
            }
          }
        }

        div.request-link {
          background-color: #d81920;
          border: 1px solid #d81920;

          > a {
            color: #fff;
          }

          &:hover {
            background-color: #fff;
            border: 1px solid #d81920;

            > a {
              color: #d81920;
            }
          }
        }
      }

      @media only screen and (max-width: 600px) {
        margin-top: 0 !important;
      }
    }
  }
}
