@import "./common";

.#{$id} {
  div.signup-component {
    background-color: #a7d2f7;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 100px;

    > div.heading {
      text-align: center;
      > h3 {
        font-size: 20px;
      }
    }

    > div.cta {
      margin-top: 35px;
      display: flex;
      justify-content: center;
      align-items: center;

      > button {
        background-color: #ffffff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  form#mktoForm_22195 {
    > div:nth-child(2) {
      display: none;
      > div.mktoFormCol {
        > div.mktoFieldWrap {
          > div.mktoHtmlText.mktoHasWidth {
            width: 100% !important;
          }
        }
      }
    }

    > div:nth-child(8) {
      div.mktoHtmlText.mktoHasWidth {
        width: 100% !important;

        > p:first-child {
          display: none;
        }

        > p:last-child {
          font-size: 15px;
        }
      }
    }

    > div:nth-child(18) {
      display: none;
    }

    div.mktoButtonRow {
      width: max-content;
      margin: 0 auto;

      > span {
        margin-left: 0 !important;

        > button {
          visibility: hidden;
          padding: 0 !important;
          border-radius: 5px;

          &:after {
            content: "Sign up";
            visibility: visible;
            background-color: #0e6eb9;
            background-image: none;
            border: 0;
            color: #fff;
            cursor: pointer;
            display: block;
            font-family: Proxima, Helvetica, Arial, sans-serif;
            font-size: 0.88889rem;
            font-weight: 400;
            line-height: 1.375;
            margin-bottom: 0;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            text-shadow: none;
            text-transform: uppercase;
            touch-action: manipulation;
            transition: 0.5s;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            white-space: nowrap;
            width: 100% !important;
          }
        }
      }

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  div.form-component-container.show {
    display: flex !important;
  }

  div.form-component-container {
    background-color: #f5f5f5;

    > div.form-component {
      margin: 0 auto;
      max-width: 1440px;
      padding: 50px 10px 50px 10px;
      border-top: 1px solid #222;

      div.form-main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.form-main-left {
          flex: 1;
          margin: 25px;

          > div.form-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            padding: 0 10px 10px 10px;

            > div.form-description {
              > p {
                margin: 0;
                margin-top: 10px;
                font-weight: 600;
              }
            }
          }

          div.form-icon-step {
            div.icon-step {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 20px;

              div.svg {
                > img {
                  width: 100px;
                  height: 100px;

                  @media only screen and (max-width: 798px) {
                    width: 50px;
                    height: 50px;
                  }
                }
              }

              div.text {
                margin-left: 20px;

                > h4 {
                  @media only screen and (max-width: 798px) {
                    font-size: 15px;
                  }
                }

                > p {
                  margin: 0;
                  margin-top: 5px;
                  font-weight: 600;
                }
              }
            }
          }

          @media only screen and (max-width: 798px) {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding-bottom: 20px;
            margin-left: 0;
          }

          @media only screen and (max-width: 992px) {
            display: none;
          }
        }

        div.form-main-left > div:first-child > div.icon-step:first-child {
          @media only screen and (min-width: 798px) {
            margin-top: 0;
          }
        }

        div.form-main-left > div:last-child {
          @media only screen and (max-width: 798px) {
            margin-left: 30px;
          }
        }

        div.form-main-right {
          background-color: #ffffff;
          flex: 1;
          padding: 0 30px 30px 30px;

          > div.form-close-icon {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
            padding-top: 20px;
          }
        }

        @media only screen and (max-width: 798px) {
          flex-direction: column;
        }
      }

      @media only screen and (max-width: 768px) {
        max-width: 720px;
        padding-top: 0;
        border-top: none;
        padding-bottom: 0;
      }

      @media only screen and (min-width: 768px) {
        max-width: 768px;
      }

      @media only screen and (min-width: 992px) {
        max-width: 960px;
      }
    }

    > div.success-component {
      background-color: white;
      position: relative;
      padding: 50px;
      width: 370px;
      display: none;

      > div.success-close-icon {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
      }
    }
  }

  &-1 {
    div.form-component-container {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 999;
      background: rgba(0, 0, 0, 0.7);
      display: none;
      justify-content: center;
      align-items: center;

      div.form-component {
        background-color: #f5f5f5;
        border: none;
        margin: 0 auto;
        padding: 0;
        z-index: 1000;
      }
    }

    div.form-component-container.show.success {
      > div.form-component {
        display: none;
      }

      > div.success-component {
        display: block;
      }
    }
  }
}
