@import "./common";

.#{$id} {
  p.transcript-link {
    display: none;
  }

  video.img-fluid {
    display: none;
  }

  div.ultra-lite-component {
    position: relative;

    > div.new-tag {
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background-color: #ae614c;
      display: flex;
      justify-content: center;
      align-items: center;

      > h5 {
        text-align: center;
        color: #fff;
      }
    }

    > div.image {
      > img {
        width: 100%;

        @media screen and (max-width: 767px) {
          max-height: 320px;
        }

        @media screen and (min-width: 768px) {
          max-height: 195px;
        }

        @media screen and (min-width: 992px) {
          max-height: 265px;
        }

        @media screen and (min-width: 1260px) {
          max-height: 343px;
        }
      }
    }
  }
}
