@import "./common";

.#{$id} {
  div.tab-border {
    position: absolute;
    bottom: 0px;
  }

  li.tab-extra {
    display: inline-block;
    zoom: 1;
    user-select: none;
    height: 50px;
    transform: translateY(-2px);

    @media only screen and (max-width: 390px) {
      height: 64px;
    }
  }
}
