@import "./common";

.#{$id} {
  div.step-component-header {
    padding: 0 20px 30px 20px;
    > h2 {
      text-align: center;
    }
  }

  div.step-component {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

    > a.step-item {
      cursor: pointer;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.141176);

      border-radius: 5px;
      margin: 20px;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }

      > div.icon {
        > svg {
          fill: #1d9cd3 !important;
        }
      }

      > div.title {
        > h3 {
        }
      }

      > div.description {
        max-width: 400px;
        > p {
          text-align: center;
        }
      }

      > div.link {
        margin-bottom: 15px;
        margin-top: 20px;

        > button {
          cursor: pointer;
          color: #fff;
          background-color: #0e6eb9;
          padding: 0.61111rem 1.38889rem;
          font-weight: 600;
          font-size: 1rem;
          border-radius: 5px;
          border: none;
        }
      }

      @media only screen and (max-width: 991px) {
        padding: 20px;
      }

      @media only screen and (min-width: 992px) {
        padding: 5px;
      }

      @media only screen and (min-width: 1200px) {
        padding: 20px;
      }
    }

    > a.step-item:hover {
      box-shadow: 0 12px 16px rgba(72, 86, 101, 0.16),
        0 3px 6px rgba(72, 86, 101, 0.16);
    }

    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }
  }

  div#container-929861969 {
    padding-bottom: 0 !important;
  }

  div.c29-columns__col.c29-columns__col--8
    div.responsivegrid
    > div.aem-Grid
    > div.step-component {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  div.c29-columns__col.c29-columns__col--8
    div.responsivegrid
    > div.aem-Grid
    > div.step-component-header {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  div.c29-columns__col.c29-columns__col--3
    div.responsivegrid
    > div.aem-Grid
    > div.step-component {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  div.c29-columns__col.c29-columns__col--3
    div.responsivegrid
    > div.aem-Grid
    > div.step-component-header {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}
