@import "./common";

.#{$id} {
  &-1 {
    div.pricing {
      display: none;
    }

    div.product-pricing {
      margin-bottom: 10px;
    }
  }

  &-2 {
    div.pricing {
      display: none;
    }

    div.product-pricing {
      display: none;
    }
  }
}
