@import "./common";

.#{$id} {
  .hide {
    display: none !important;
  }

  div.trustradius-component {
    margin-bottom: 50px;

    > div.container {
      margin-top: 50px;
    }
  }

  div.carousal-component {
    position: relative;

    > div.component-wrap {
      max-width: 1440px;
      margin: 0 auto;
      padding: 40px;

      > div.headline {
        border-bottom: 1px solid #333333;
        margin-bottom: 20px;

        > h3 {
          font-size: 20px;
          margin-bottom: 5px;
        }
      }

      > div.carousel {
        > div.swiper-wrapper {
          > div.review-item {
            background-color: #0b3180;
            padding: 20px;
            border-radius: 15px;

            > div.review-item-wrap {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              > div.date-and-star {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                height: 55px;

                > div.star-incentivized {
                  > div.start-icons {
                    display: flex;

                    > div.star-img {
                      > img {
                        width: 20px;
                        height: 20px;
                      }
                    }
                  }

                  > div.incentivized {
                    margin-top: 5px;
                    > p {
                      color: #fff;
                      font-size: 15px;
                    }
                  }
                }

                > div.date {
                  color: #fff;
                  font-size: 15px;
                }
              }

              > div.title {
                height: 50px;

                > h4 {
                  text-align: left;
                  color: #fff;
                  font-size: 20px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  line-clamp: 2;
                  -webkit-box-orient: vertical;
                }
              }

              > div.teaser {
                padding: 15px 10px 15px 0;
                height: 90px;

                > p {
                  font-size: 15px;
                  color: #fff;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  line-clamp: 3;
                  -webkit-box-orient: vertical;
                }
              }

              > div.full-review-link {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 10px;

                > a {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  color: #fff;

                  > svg {
                    width: 15px;
                    margin-left: 10px;
                  }
                }

                @media only screen and (max-width: 768px) {
                  > a {
                    padding: 5px 10px;
                    background-color: #fff;
                    color: #000;
                    text-decoration: none;
                    border-radius: 5px;

                    > svg {
                      display: none;
                    }
                  }
                }
              }

              > div.reviewer-details {
                margin-top: 10px;
                height: 100px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;

                > div.author {
                  > h5 {
                    color: #fff;
                    font-size: 17px;
                  }
                }

                > div.job-description {
                  > p {
                    font-size: 15px;
                    color: #fff;
                  }
                }

                > div.company-description {
                  > p {
                    font-size: 15px;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }

      > div.carousel-controller {
        > div.carousel-prev {
          > div.svg {
            > svg {
            }
          }
        }

        > div.carousel-next {
          > div.svg {
            > svg {
            }
          }
        }
      }
    }

    > div.carousel-controller {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 50%;
      width: 100%;

      > div.controller-wrap {
        width: 1460px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;

          > div {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        > div.carousel-prev {
          padding: 10px;
          cursor: pointer;
        }

        > div.carousel-next {
          padding: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
