@import "./common";

.#{$id} {
  &__hide {
    display: none !important;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }

  div.c01.aem-GridColumn.aem-GridColumn--default--12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 50px 60px;

    > div.grid-container {
      display: flex;
      flex-direction: column;
      flex: 0.7;

      > div.bg-default {
        display: none;
      }
    }

    > div.form-component {
      display: flex;
      flex-direction: column;
      flex: 0.3;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;

      > div.component-wrap {
        > div.form-success {
          display: none;
        }

        > div.form-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: fit-content;
          max-width: 370px;

          > div.form-header {
            > div.form-title {
              > h3 {
                text-align: center;
              }
            }

            > div.form-progress-container {
              margin-top: 15px;

              > div.form-progress {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                > div.progress-text {
                  > p {
                    font-family: "Neusa";
                    font-size: 15px;
                    font-weight: 600;
                    font-style: italic;
                  }
                }
              }

              > div:last-child {
                display: none;
              }

              > div:first-child {
                display: flex;
              }
            }

            > div.form-progress-container.next {
              > div:last-child {
                display: flex;
              }

              > div:first-child {
                display: none;
              }
            }
          }

          > form {
            width: 100% !important;

            > div.mktoFormRow {
              > div.mktoFormCol {
                margin: 10px;

                > div.mktoOffset {
                  display: none;
                }

                > div.mktoFieldWrap {
                  display: flex;
                  flex-direction: column;

                  > label {
                    width: 100% !important;
                    font-family: "Neusa";

                    > div.mktoAsterix {
                      display: none;
                    }
                  }

                  > input {
                    border: 2px solid #e0dddd;
                    border-radius: 3px;
                    padding: 10px 15px;
                    margin-top: 10px;
                    background-color: #fff;
                    font-style: italic;
                  }

                  > select {
                    border: 2px solid #e0dddd;
                    border-radius: 3px;
                    padding: 10px 15px;
                    margin-top: 10px;
                    background-color: #fff;
                    font-style: italic;
                  }

                  > div.mktoGutter {
                    display: none;
                  }

                  > div.mktoError {
                    position: static !important;

                    > div.mktoErrorArrowWrap {
                      display: none !important;
                    }
                  }
                }
              }

              p {
                display: none;
              }
            }

            > div.mktoButtonRow {
              display: none;
            }

            > div:nth-child(2) {
              display: flex;

              input {
                width: 100% !important;
              }
            }

            > div:nth-child(15) {
              display: none;
            }

            > div:nth-child(16) {
              display: none;
            }

            > div.mktoFormRow.row-to-col {
              > div.mktoFormCol {
                float: none;
                position: static;
                margin-top: 0 !important;

                > div.mktoRequiredField {
                  width: 100%;

                  > input {
                    width: 100% !important;
                  }
                }
              }
            }

            > div.mktoFormRow.hide {
              display: none;
            }
          }

          > form.next {
            > div:nth-child(2) {
              display: none;
            }

            > div:nth-child(3) {
              display: none;
            }

            > div:nth-child(4) {
              display: block;
            }

            > div:nth-child(5) {
              display: block;
            }
          }

          > div.form-footer {
            > div.disclaimer {
              margin-top: 15px;

              > p {
                font-family: "Neusa";
                font-style: italic;
                font-size: 15px;
              }
            }

            > div.from-actions {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 15px;

              > div.action-right {
                > button.back {
                  display: none;
                  color: #000;
                  background-color: transparent;
                  border-color: #000000;
                  cursor: pointer;
                  border-radius: 5px;
                  padding: 2px 20px;
                  border: 1px solid #000000;
                  font-family: "Neusa";
                  font-size: 17px;
                }
              }

              > div.action-left {
                > button {
                  color: #fff;
                  background-color: #0e6eb9;
                  border-color: #0e6eb9;
                  cursor: pointer;
                  border-radius: 5px;
                  padding: 2px 20px;
                  border: 1px solid #0e6eb9;
                  font-family: "Neusa";
                  font-size: 17px;
                }

                > button.next {
                  display: block;
                }

                > button.submit {
                  display: none;
                }
              }
            }

            > div.from-actions.next {
              > div.action-right {
                > button.back {
                  display: block;
                }
              }

              > div.action-left {
                > button.next {
                  display: none;
                }

                > button.submit {
                  display: block;
                }
              }
            }
          }
        }
      }

      > div.component-wrap.submitted {
        > div.form-success {
          display: block;
        }

        > div.form-container {
          display: none;
        }
      }
    }
  }
}
