@import "./common";

.#{$id} {
  &__hide {
    display: none !important;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }

  div.c01.aem-GridColumn.aem-GridColumn--default--12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 50px 60px;

    > div.grid-container {
      display: flex;
      flex-direction: column;
      flex: 0.7;

      > div.bg-default {
        display: none;
      }

      > div.c01__headline-wrap {
        padding: 10px !important;
      }

      > div.c01__text-wrap {
        padding: 10px !important;
      }
    }

    @media only screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  div.hero-form-component {
    @media only screen and (max-width: 992px) {
      margin-top: 50px !important;
    }
  }

  div.hero-form-component,
  div.cap-form-component {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 450px;
    margin: 20px;

    > div.component-wrap {
      > div.form-success {
        display: none;

        > p {
          font-family: "Neusa";
        }
      }

      > div.form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        max-width: 370px;

        > div.form-header {
          > div.form-title {
            > h3 {
              text-align: center;
            }
          }

          > div.form-description {
            > p {
              text-align: center;
              font-size: 15px;
              font-weight: 600;
            }
          }

          > div.form-progress-container {
            margin-top: 15px;

            > div.form-progress {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              > div.progress-text {
                > p {
                  font-family: "Neusa";
                  font-size: 15px;
                  font-weight: 600;
                  font-style: italic;
                }
              }
            }

            > div:last-child {
              display: none;
            }

            > div:first-child {
              display: flex;
            }
          }

          > div.form-progress-container.next {
            > div:last-child {
              display: flex;
            }

            > div:first-child {
              display: none;
            }
          }
        }

        > form {
          width: 100% !important;

          > div.mktoFormRow {
            > div.mktoFormCol {
              margin: 10px;

              > div.mktoOffset {
                display: none;
              }

              > div.mktoFieldWrap {
                display: flex;
                flex-direction: column;

                > label {
                  display: block !important;
                  width: 100% !important;
                  font-family: "Neusa";

                  > div.mktoAsterix {
                    display: none;
                  }
                }

                > input {
                  border: 2px solid #e0dddd;
                  border-radius: 3px;
                  padding: 10px 15px;
                  margin-top: 10px;
                  background-color: #fff;
                  font-style: italic;
                }

                > select {
                  border: 2px solid #e0dddd;
                  border-radius: 3px;
                  padding: 10px 15px;
                  margin-top: 10px;
                  background-color: #fff;
                  font-style: italic;
                }

                > div.mktoGutter {
                  display: none;
                }

                > div.mktoError {
                  position: static !important;

                  > div.mktoErrorArrowWrap {
                    display: none !important;
                  }
                }
              }
            }

            p {
              display: none;
            }
          }

          > div.mktoButtonRow {
            display: none;
          }

          > div:nth-child(2) {
            display: flex;

            input {
              width: 100% !important;
            }
          }

          > div:nth-child(15) {
            display: none;
          }

          > div:nth-child(16) {
            display: none;
          }

          > div.mktoFormRow.row-to-col {
            > div.mktoFormCol {
              float: none;
              position: static;
              margin-top: 0 !important;

              > div.mktoRequiredField {
                width: 100%;

                > input {
                  width: 100% !important;
                }
              }
            }
          }

          > div.mktoFormRow.hide {
            display: none;
          }
        }

        > form.mktoForm.cap > div:nth-child(2):not(div.mktoTemplateBox) {
          display: none;
        }

        > form.mktoForm.cap > div:nth-child(17) {
          display: none;
        }

        > form.mktoForm.cap > div:nth-child(3) {
          display: flex;

          input {
            width: 100% !important;
          }
        }

        > form.mktoForm.cap
          > div.mktoTemplateBox
          > div.known-user-message
          > p.mktoButtonWrap {
          display: none;
        }

        > form.next.hero {
          > div:nth-child(2) {
            display: none;
          }

          > div:nth-child(3) {
            display: none;
          }

          > div:nth-child(4) {
            display: flex;

            > div.mktoFormCol {
              flex: 0.5;

              select {
                width: 100% !important;
              }
            }
          }

          > div:nth-child(5) {
            display: flex;

            > div.mktoFormCol {
              flex: 0.5;

              select {
                width: 100% !important;
              }
              input {
                width: 100% !important;
              }
            }
          }
        }

        > form.next.cap {
          > div:nth-child(3) {
            display: none;
          }

          > div:nth-child(4) {
            display: none;
          }

          > div:nth-child(5) {
            display: flex;

            > div.mktoFormCol {
              flex: 0.5;

              select {
                width: 100% !important;
              }
            }
          }

          > div:nth-child(6) {
            display: flex;

            > div.mktoFormCol {
              flex: 0.5;

              select {
                width: 100% !important;
              }
              input {
                width: 100% !important;
              }
            }
          }
        }

        > div.form-footer {
          > div.disclaimer {
            margin-top: 15px;

            > p {
              font-family: "Neusa";
              font-style: italic;
              font-size: 15px;
            }
          }

          > div.from-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;

            > div.action-right {
              > button.back {
                display: none;
                color: #000;
                background-color: transparent;
                border-color: #000000;
                cursor: pointer;
                border-radius: 5px;
                padding: 2px 20px;
                border: 1px solid #000000;
                font-family: "Neusa";
                font-size: 17px;
              }
            }

            > div.action-left {
              > button {
                color: #fff;
                background-color: #0e6eb9;
                border-color: #0e6eb9;
                cursor: pointer;
                border-radius: 5px;
                padding: 2px 20px;
                border: 1px solid #0e6eb9;
                font-family: "Neusa";
                font-size: 17px;
              }

              > button.next {
                display: block;
              }

              > button.submit {
                display: none;
              }
            }
          }

          > div.from-actions.next {
            > div.action-right {
              > button.back {
                display: block;
              }
            }

            > div.action-left {
              > button.next {
                display: none;
              }

              > button.submit {
                display: block;
              }
            }
          }
        }
      }
    }

    > div.component-wrap.submitted {
      > div.form-success {
        display: block;
      }

      > div.form-container {
        display: none;
      }
    }
  }

  div.cap-component {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(200, 15%, 6%, 0.85);
    z-index: 1005;
    display: flex;
    justify-content: center;
    align-items: center;

    > div.component-wrap {
      position: relative;
      background-color: #fff;
      max-width: 768px;
      margin: 20px;

      > div.wrap-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > div.cap-right {
          flex: 0.66;
        }

        > div.cap-left {
          flex: 0.4;
          background-color: #000;
          padding: 25px;

          > div.poster {
            > div.title {
              > h3 {
                font-size: 25px;
                color: #fff;
              }
            }

            > div.description {
              margin-top: 15px;

              > p {
                color: #fff;
                font-size: 15px;
              }
            }

            > div.image {
              margin-top: 30px;
              margin-bottom: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        @media only screen and (max-width: 992px) {
          flex-direction: column;
        }
      }

      > div.close-icon {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: #fff;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  div.cap-component.hide {
    display: none;
  }

  div.footer-form-component {
    > div.component-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f5f5f5;

      > div.component-left {
        display: flex;
        flex: 0.5;

        > div.banner {
          width: 100%;

          > img {
            width: 100%;
          }
        }

        @media only screen and (max-width: 1500px) {
          max-width: 548px !important;
        }
      }

      > div.component-right {
        display: flex;
        flex: 0.5;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        padding: 20px;

        > div.form-container {
          > form {
            > div:nth-child(10) {
              display: none;
            }

            > div:nth-child(18) {
              display: none;
            }

            > div.disclaimer {
              max-width: 450px;
              margin-bottom: 50px;

              > div.wrap {
                > p {
                  font-weight: 400;
                }
              }
            }
          }
        }

        > div.form-success {
          display: none;
          > p {
            font-family: "Neusa";
          }
        }
      }

      > div.component-right.submitted {
        div.form-container {
          display: none !important;
        }

        > div.form-success {
          display: block !important;
        }
      }

      @media only screen and (max-width: 1500px) {
        background-color: transparent;
        flex-direction: column;
      }
    }

    div.mktoHtmlText {
      width: 100%;
      margin-bottom: 30px;

      > h2 {
        text-align: center;
        font-size: 27px;
      }
    }

    label {
      display: block !important;

      > span {
        font-size: 15px;
        font-weight: 600;
        font-family: "Neusa";
      }
    }

    textarea {
      height: 80px !important;
    }

    div.mktoButtonRow {
      display: flex;
      justify-content: center;
      align-items: center;

      > span {
        width: 25%;

        > button {
          border-radius: 5px;
        }
      }
    }
  }
}
