@import './common';

.#{$id}{
    &-2{
        div.graber-product-advisor-promo{
            display: none;
        }
    }

    &-1{
        div#slick-slide00{
            background-color: #e5e6e6;
    
            >div.horizontal{
                display: none;
            }
        }
    }

    div.shape-product-advisor{
        padding-bottom: 40px;
        background-color: #E4EBED;
        padding-top: 5px;

        @media only screen and (max-width: 767px) {
            max-width: 520px;
            margin: 0 auto;

            div.first-slide-component{
                margin-top: 25px;

                div.component-footer{
                    margin-top: 45px;
                }
            }
        }
    }

    div.first-slide-component{
    
        div.component-head{
            width: 100%;
            text-align: center;
            margin-top: 50px;

            >h2{
                font-weight: bold;
            }

            >p{
                margin-top: 10px;
                font-weight: normal;
                padding: 0 15px;
            }

            @media only screen and (max-width: 1024px) {
                margin-top: 10px;
            }
        }

        div.component-main{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            flex-direction: row;

            >div{
                margin-top: 30px;
                display: flex;
                justify-content: space-evenly;

                >a{
                    display: flex;
                    text-decoration: none;
                    border-bottom: none;
                    flex-direction: column;
                    text-align: center;
                    margin-right: 50px;
                    margin-left: 50px;
                    justify-content: center;
                    align-items: center;
                    
                    @media only screen and (max-width: 500px) {
                        margin-right: 20px;
                        margin-left: 20px;
                    }

                    >img{
                        height: 100px;
                        width: 100px;

                        @media only screen and (max-width: 628px) {
                            height: 80px;
                            width: 80px;
                        }
                    }

                    >p{
                        font-weight: bold;
                    }

                    &:hover{
                        background-color: transparent;
                    }
                }

                @media only screen and (max-width: 1023px) {
                    justify-content: center;
                    margin-top: 35px;
                }
            }

            @media only screen and (max-width: 1023px) {
                flex-direction: column;
                margin-top: 0;
            }
        }

        div.component-footer{
            text-align: center;
            margin-top: 60px;

            >a{
                background-color: #416e76;
                color: #fff;
                border-color: #416e76;
            }

            @media only screen and (max-width: 1023px) {
                margin-top: 30px;   
            }
        }
    }

    
}