@import "./common";

.#{$id} {
  li.disable-listener {
    cursor: not-allowed;
    pointer-events: none;
  }

  &-1,
  &-2 {
    div.choose-device-wrapper > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 925px) {
        flex-direction: column;

        .col-md-6 {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5px;
          margin-bottom: 5px;
        }

        > div.quick-filer-component {
          margin-bottom: 10px;
        }
      }
    }

    div.selection-modifier {
      margin-left: 0 !important;

      > button {
        border-radius: 0.5rem !important;
        font-size: 1.5rem !important;
        min-width: 12rem !important;
        padding: 0.5rem 1.5rem !important;
      }
    }
  }

  div.quick-filer-component {
    display: flex;
    justify-content: center;
    align-items: center;

    > div.filer-menu {
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        border: 2px solid #f26631;
        padding: 0.3rem 2rem;
        font-size: 1.5rem;
        background-color: #fff;
        cursor: pointer;
        margin-left: 5px;
        border-radius: 0.5rem;
        white-space: nowrap;
      }

      div.active {
        background-color: #f26631;
        color: #fff;
      }
    }
  }
}
