@import "./common";

.#{$id} {
  &-1 {
    section.multi-column-main > div:first-child > div:nth-child(2) {
      display: none;
    }

    div.shape-component {
      padding-top: 70px;
      padding-bottom: 70px;
      background-color: #e9f3fb;
      margin-bottom: 50px;

      div.component-head {
        width: 100%;
        text-align: center;

        > h2 {
          font-weight: bold;
        }

        > p {
          margin-top: 10px;
          font-weight: normal;
          padding: 0 15px;
        }

        @media only screen and (max-width: 1024px) {
          margin-top: 10px;
        }
      }

      div.component-main {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: row;

        > div {
          margin-top: 30px;
          display: flex;
          justify-content: space-evenly;

          > div {
            display: flex;
            text-decoration: none;
            border-bottom: none;
            flex-direction: column;
            text-align: center;
            margin-right: 50px;
            margin-left: 50px;
            justify-content: center;
            align-items: center;

            @media only screen and (max-width: 500px) {
              margin-right: 20px;
              margin-left: 20px;
            }

            > a > img {
              height: 100px;
              width: 100px;

              @media only screen and (max-width: 628px) {
                height: 80px;
                width: 80px;
              }
            }

            > a > p {
              font-weight: bold;
            }

            &:hover {
              background-color: transparent;
            }
          }

          @media only screen and (max-width: 1023px) {
            justify-content: center;
            margin-top: 35px;
          }
        }

        @media only screen and (max-width: 1023px) {
          flex-direction: column;
          margin-top: 0;
        }
      }

      div.component-footer {
        text-align: center;
        margin-top: 60px;

        > a {
          background-color: #ffd26e;
          color: #000;
          border-color: #ffd26e;
          padding: 15px 20px;
        }

        @media only screen and (max-width: 1023px) {
          margin-top: 30px;
        }
      }
    }
  }
}
